/* Initial Style for all tags */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="username"] {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1rem;
}

select {
  height: 40px;
}

option {
  font-size: 1rem;
}

a {
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
}

label {
  margin: 1rem 0;
}

/* Common Classes */

.container {
  width: 50%;
  margin: auto;
  padding: 2rem 0;
}

.btn {
  margin-top: 2rem;
  border: 0;
  background-color: black;
  color: white;
  font-size: 1rem;
  padding: 1rem;
  width: 200px;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.logOut {
  position: absolute;
  top: 0;
  right: 0;
}

.logOut a {
  margin-top: 0;
  display: inline-block;
  text-decoration: underline;
}

/* Post form Style */

textarea {
  font-size: 1rem;
  width: 100%;
  padding: 0.5rem;
}

#private {
  margin-left: 2rem;
}

.header {
  position: relative;
  margin-top: 1rem;
}

.header h1 {
  text-align: center;
}

.header .navBar {
  text-align: center;
}

/* Status Styles */

.hide {
  display: none;
}

.status {
  margin-top: 2rem;
}

.description {
  display: flex;
  padding: 0.3rem 0;
}

.description p {
  margin-left: 1rem;
}

.status_item {
  border-bottom: 1px solid black;
  padding: 2rem 1rem;
  position: relative;
  margin-top: 1rem;
}

.edit_status {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}
