<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../resources/css/style.css" />
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-light mt-5">
        <div class="d-inline mx-auto">
          <a href="index.html" class="btn btn-outline-primary" role="button">Home</a>
          <a href="login.html" class="btn btn-outline-primary" role="button">Login</a>
        </div>
      </nav>
      <div class="row">
        <div class="col-5 mx-auto mt-5">
          <form id="reg_form">
            <div class="form-group">
              <label for="name">Name</label> 
              <input type="text" class="form-control" id="name">
              <small id="nameHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username">
              <small id="usernameHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email">
              <small id="emailHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
              <label for="retype_password">Retype Password</label>
              <input type="password" class="form-control" id="retype_password">
              <small id="passwordHelp" class="form-text text-muted"></small>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
          </form>
        </div>
      </div>
      <!-- <div class="header">
        <div class="navBar">
          <a href="index.html">Home</a>
          <a href="login.html">Login</a>
        </div>
        <h1>Registration</h1>
      </div> -->
      <!-- <form id="reg_form">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" />
        </div>
        
        <div class="form-group">
          <label for="username">Username</label>
          <input type="username" id="username" />
          <span for="error" class="alert-danger hide">Username is already available.</span>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" />
        </div>

        <div class="form-group">
          <label for="retype_password">Retype Password</label>
          <input type="password" id="retype_password" />
        </div>

        <button type="submit" class="btn" id="reg_btn">Sign Up</button>
      </form> -->
    </div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="../resources/js/ajaxMethods.js"></script>
    <script src="../resources/js/registration.js"></script>
  </body>
</html>
